<% include ../partials/header.ejs %>
<h1><%= campground.title %></h1>
<img src="<%= campground.image %>" alt="">
<p><%= campground.description %></p>
<br>

<p>
  <a class = "btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">add new comment</a>
</p>
<!-- forEach loop for display the comment -->
<% campground.comments.forEach(function(comment){ %>

  <p>
    <strong><%= comment.author %> </strong>- <%= comment.text %>
  </p>

<% })%>
<a href="/campgrounds/new" class="btn btn-sm btn-primary">add new</a>
<a href="/campgrounds" class="btn btn-sm btn-primary">back to camp</a>
<br>

<h1>this is the show template</h1>
<% include ../partials/header.ejs %>
